.wrapper {
  --sk-wrapper-spacing: var(--sk-base-spacing-xl);
  --sk-wrapper-size: var(--sk-base-container-xl);

  margin-inline: auto;
  inline-size: min(
    100% - 2 * var(--sk-wrapper-spacing),
    var(--sk-wrapper-size)
  );

  &--spacing-md {
    --sk-wrapper-spacing: var(--sk-base-spacing-md);
  }

  &--size-md {
    --sk-wrapper-size: var(--sk-base-container-md);
  }
}
